#APP
SERVER_PORT=<your_server_port>
CLIENT_PORT=<your_client_port>
APP_URL=<your_url_type> # http://localhost
#DB
DB_HOST=localhost
DB_USER=<db_user>
DB_PASSWORD=<db_password>
DB_DATABASE=<your_database_name>

#MAILER
SMTP_HOST=<your_smtp_host>
SMTP_PORT=587
SMTP_USER=<your_email>
SMTP_PASS=<your_app_password>

#JWT
JWT_SECRET=<your_secret_key>
JWT_EXPIRES_IN=1h

#ADMIN PROP
ADMIN_NAME=<admin_name> 
ADMIN_EMAIL=<admin_email>
ADMIN_PASSWORD=<admin_password>
